language: rust
sudo: false
cache: cargo

matrix:
  fast_finish: true

  include:
    # This is the minimum Rust version supported by syn-mid.
    # When updating this, the reminder to update the minimum required version in README.md.
    - rust: 1.30.0

    - rust: stable
    - rust: beta
    - rust: nightly

    - rust: nightly
      name: cargo test (minimal versions)
      script:
        - cargo update -Zminimal-versions
        - cargo test --all-features

    - rust: nightly
      name: cargo clippy
      script:
        - if rustup component add clippy-preview;
          then
            cargo clippy --all-features -- -Dwarnings;
          else
            echo 'Skipping clippy';
          fi

    - rust: stable
      name: cargo fmt
      script:
        - rustup component add rustfmt
        - cargo fmt --all -- --check

    - rust: nightly
      name: cargo doc
      script:
        - RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features

before_script:
  - set -o errexit

script:
  - cargo build
  - cargo build --all-features
  - cargo test --all --all-features

notifications:
  email:
    on_success: never
